In [16]:
import pandas as pd
import numpy as np
import sklearn.cluster as cluster
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [11]:
x1 = np.linspace(0,20,num = 215)
x2 = np.linspace(40,255,num = 215)
x3 = np.linspace(80,255,num = 215)

In [12]:
data = {'hue':x1,'saturation':x2,'value':x3}
data_chck = pd.DataFrame(data)
data_chck

           hue  saturation       value
0     0.000000   40.000000   80.000000
1     0.093458   41.004673   80.817757
2     0.186916   42.009346   81.635514
3     0.280374   43.014019   82.453271
4     0.373832   44.018692   83.271028
..         ...         ...         ...
210  19.626168  250.981308  251.728972
211  19.719626  251.985981  252.546729
212  19.813084  252.990654  253.364486
213  19.906542  253.995327  254.182243
214  20.000000  255.000000  255.000000

[215 rows x 3 columns]

In [17]:
K=range(1,12)
wss = []
for k in K:
    kmeans=cluster.KMeans(n_clusters=k,init="k-means++")
    kmeans=kmeans.fit(data_chck)
    wss_iter = kmeans.inertia_
    wss.append(wss_iter)

In [18]:
mycenters = pd.DataFrame({'Clusters' : K, 'WSS' : wss})
mycenters

    Clusters           WSS
0          1  1.396998e+06
1          2  3.492494e+05
2          3  1.552152e+05
3          4  8.734651e+04
4          5  5.588716e+04
5          6  3.888055e+04
6          7  2.865500e+04
7          8  2.185371e+04
8          9  1.732710e+04
9         10  1.401755e+04
10        11  1.161888e+04